/**
* Common styles for frontend end editor
*/

.btn {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  border-radius: 2px;
  padding: 8px 30px 9px;
  &:hover {
    opacity: .8;
  }
}

.btn-center {
  margin: 0 auto;
  display: block;
}

.btn-transparent {
   border: 1px solid #fff;
}

.btn-orange {
  background-color: $buttonColor;
  box-shadow: 0 2px 0 #945b00;
}


.btn-white {
  background-color: #fff;
  color: $buttonColor;
}

ul.marker-list {
  list-style-image: url('../img/ct-icons/list-style.svg');
  padding-left: 20px;
  li {
    padding-left: 20px;
  }
}

.contact-item {
  margin-bottom: 20px;
  &:before {
    content: url('../img/ct-icons/ctcontacts.svg');
    width: 60px;
    height: 80px;
    position: relative;
    display: block;
    float: left;
  }
}
.tel-item {
  margin-bottom: 20px;
  &:before {
    content: url('../img/ct-icons/tel.svg');
    width: 60px;
    //height: 100px;
    position: relative;
    display: block;
    float: left;
  }
}
.email-item {
  margin-bottom: 20px;
  &:before {
    content: url('../img/ct-icons/ctemail.svg');
    width: 60px;
    //height: 100px;
    position: relative;
    display: block;
    float: left;
  }
}
.job-item {
  margin-bottom: 20px;
  &:before {
    content: url('../img/ct-icons/job.svg');
    width: 60px;
    //height: 100px;
    position: relative;
    display: block;
    float: left;
  }
}