@include apply-to(max, 1440) {
  .front-block-scroller {
    .container-scroller-wrap {
      .container {
        width: 900px;
      }
    }
  }
}
@include apply-to(max, 1300) {
  .container-scroller {
    width: 100%;
    padding: 0 50px;
  }
  .block-show_reviews {
    .owl-controls {
      .owl-prev {
        left: 40px;
      }
      .owl-next {
        right: 40px;
      }
    }
    .review-content {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

@include apply-to(max, 1024) {
  .front-block-scroller {
    .container-scroller-wrap {
      .container {
        width: 100%;
      }
    }
  }
  #top-wrap {
    //position: relative;
  }
  #main-content {
    //padding-top: 0;
  }
  #menu-wrap {
    padding-top: 0;
    ul li:hover .sub-menu {
      max-width: 350px;
      display: none;
    }
    & > .phone-header {
      display: none;
    }
    #try-btn {
      margin-left: 0;
    }
    .main-menu-wrap {
      display: none;
      margin-right: 0;
      background: #fff;
      top: 0;
      right: 0;
      max-width: 350px;
      font-size: 24px;
      box-shadow: 0 0 30px rgba(0,0,0,.3);

      position: fixed;
      height: 100%;
      overflow-y: hidden;
      .main-menu-container {
        height: 100%;
        overflow-y: scroll;
        #main-menu {
          margin-bottom: 200px;
        }
      }

      .mobile-menu-info {
        display: block;
        box-shadow: 0 0 30px rgba(0,0,0,.1);
        .mob-menu-item {
          .demo-btn {
            float: left;
          }
          .menu-btn {
            float: right;
            font-size: 42px;
          }
          .phone-header {
            .fa-phone {
              padding-top: 2px;
              width: 28px;
              height: 28px;
              &:before {
                padding-left: 4px;
              }
            }
          }
          .phone-text {
            display: inline;
            font-size: 18px;
          }
        }
      }
    }
    #main-menu {
      & > li.current-menu-parent,
      & > li:hover {
        border-bottom: 2px solid #ccc;
        a {
        }
      }
      li {
        .menu-icon {
          display: none;
          float: right;
          padding: 21px;
          width: 20%;
          color: $buttonColor;
        }
        &.menu-item-has-children {
          & > a {
            float: left;
            width: 80%;
          }
          & > .menu-icon {
            display: block;
          }
        }
      }

      ul.sub-menu {
        top: 0;
        border: none;
        border-top: 2px solid #ccc;
        margin-left: 0;
        position: relative;
        visibility: visible;
        opacity: 1;
        display: none;
        li {
          background-color: $lightGrayBg;
          &:last-of-type {
            border-bottom: none;
          }
          a {
            display: block;
            padding: 21px 10px 21px 80px;
            font-weight: $mainFontWeight;
            font-size: 18px;
          }
        }
      }
      .current-menu-parent {
        ul.sub-menu {
          opacity: 1;
          visibility: visible;
          position: relative;
          display: block;
        }
      }
    }
    #main-menu li,
    .mob-menu-item {
      display: block;
      border-bottom: 2px solid #ccc;
      margin-left: 0;
      padding: 0;
      a {
        display: block;
        padding: 21px 55px;
        font-size: 24px;
        &.btn {
          padding: 8px 15px 9px;
          font-size: 16px;
        }
      }
    }



    .mob-menu-item-control {
      padding: 20px;
    }

    .menu-btn {
      display: inline-block;
    }
    .phone-text {
      display: inline-block;
    }
  }

  #top-wrap {
    .logo-full {
      display: inline-block;
    }
  }

  body {
    padding: 0;
  }

  #footer {
    height: auto;
    position: relative;
  }

  .block-courses {
    .course-item {
      .course-name {
        font-size: 30px;
      }
      .course-duration {
        font-size: 36px;
      }
    }
  }

  .page-content {
    .page-left {
      //padding: 20px 0;
    }
  }

  .single-uslugi,
  .single-success_history,
  .page-events,
  .page {
    .page-content > .container {
      background-color: rgba(255,255,255, .7);
    }
  }
  .single-uslugi {
    .page-content {
      .page-left {
        padding: 20px 15px;
      }
    }
  }

  .front-block-scroller {
    .container-scroller-wrap {
      .container {
        padding: 0 50px;
      }
    }
  }
  .block-ct_numbers,
  .block-company_offies_numbers {
    .numbers-item {
      .number {
        font-size: 24px;
      }
      .info {
        font-size: 14px;
      }
    }
  }
  .page-template-company-template {
    .page-content {
      .container {
        background-color: $lightGrayBg;
      }
    }
  }
  .block-tabs_service_packs {
    #tabs {
      a.tabs .description {
        padding: 30px 25px;
      }
      .content-no-tabs {
        font-weight: 300;
        font-size: 16px;
        .content-no-tabs {
          ul {
            //margin-left: 0;
            list-style-type: disc !important;
          }
        }
      }
    }
  }
  #top-wrap {
    -webkit-transform: none;
  }
  .block-scrolling_tabs {
    .scrolling-menu {
      .scrolling-menu-item {
        font-size: 20px;
        padding-right: 30px;
      }
    }
  }

  .block-text_4_column {
    .description {
      padding-bottom: 30px;
    }
  }
}

@include apply-to(max, 1023) {
  #footer {
    height: auto;
    position: relative;
    .copyright {
      margin-top: 50px;
    }

    .contacts {
      padding-left: 120px;
    }
  }
  .front-block-scroller {
    .scroller-details {
      .container-wrap-bg {
        background-color: rgba(255,255,255, .7);
      }
    }
  }
  .block-company_history {
    .history-item {
      .year {
        padding: 10px 20px;
      }
      &.left {
        .info-wrap {
          left: 180px;
          &:after {
            content: '';
            position: absolute;
            left: -40px;
            right: inherit;
            top: 30px;
            border: 20px solid transparent;
            border-right: 20px solid #fff;
          }

        }
      }
    }
  }
}

@include apply-to(max, 992) {
}

@include apply-to(max, 767) {
  .container {
    padding: 0 15px;
  }
  #menu-wrap {
    .phone-text {
      display: none;
    }
  }

  #menu-wrap #main-menu li a,
  #menu-wrap .mob-menu-item a {
    //font-size: 18px;
  }
  .single-otrasli {
    .page-content {
      .container {
        background-color: rgba(255, 255, 255, .7);
      }
    }
  }
  .page-content {
    .page-right {
      display: none;
    }
  }

  #footer {
    .social-networks {
      margin-bottom: 50px;
    }
    .contacts {
      padding-left: 10px;
      .contact-links {
        display: inline-block;
        text-align: left;
        a {
          padding-left: 0;
        }
      }
    }
  }

  // Blocks
  .block-icon_with_title {
    .title {
      padding: 10px 0 35px 0;
    }
  }

  .block-icon_with_description {
    .title {
      padding-top: 10px;
    }
    .icon {
      margin-bottom: 0 !important;
    }
  }

  .block-services {
    .tabs-content {
      font-size: 16px;
    }
  }

  .default-block-scroller {
    .scroller-details {
      .scroller-info-icon,
      .scroller-info-title {
        display: none;
      }
      .scroller-info {
        padding-left: 0;
        padding-top: 30px;
      }
      .scroller-image {
        padding-right: 0;
        img {
          width: 100%;
        }
      }
    }
  }

  .block-services,
  .block-tabs_service_packs {
    ul {
      list-style-type: none;
      li.tab-item {
        margin-top: 40px;
        a.tabs {
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .content-no-tabs {
      line-height: 26px;
      font-family:$mainFont;
      ul {
        list-style-type: disc;
        margin-left: 10px;
        li {
          padding-left: 5px;
        }
      }
    }
    .tabs-content {
      display: none;
    }

    #tabs a.tabs {
      text-decoration: none;
      color: $mainColor;
      display: block;
      padding-bottom: 15px;
      margin: 30px 0 15px 0;
      &:hover {
        box-shadow: none;
      }
      .title {
        padding-bottom: 0;
      }
    }

    #tabs .content-no-tabs {
      display: block;
      padding: 10px 30px;
      //background: #fff;
    }
  }

  .block-tabs_service_packs {
    #tabs a.tabs {
      &:hover {
        box-shadow: 0 0 30px rgba(0,0,0,.1);
      }
    }
  }

  .block-courses {
    .course-item {
      .course-name {
        font-size: 24px;
      }
      .course-duration {
        font-size: 26px;
        text-align: left;
      }
    }
  }
  .block-slider {
    .slide-block {
      .slide-content {
        .slide-title {
          font-size: 52px;
        }
        .slide-text {
          font-size: 32px;
        }
      }

    }
  }

  .post-type-archive-news {
    .news-item-wrap {
      .news-image {
        //padding-bottom: 20px;
        img {
          margin: 0 auto;
          display: block;
        }
      }
    }
  }
  .nav-links {
    .nav-previous {
      float: left;
      margin-bottom: 10px;
    }
    .nav-next {
      float: right;
    }
  }

  .page-events {
    .events-wrap {
      .events-list {
        .event-item-wrap {
          &:nth-child(odd),
          &:nth-child(even) {
            padding: 0;
          }
        }
      }
    }
  }
  .front-block-scroller {
    .scroller-details {
      .container-wrap-bg {
        background-color: rgba(255,255,255, .9);
      }
    }
  }
  .block-ct_numbers,
  .block-company_offies_numbers {
    .numbers-item {
      width: 50%;
    }
  }

  .block-products_main {
    .content-wrap {
      .content-image {
        img {
          display: block;
          margin: 0 auto 30px;
        }
      }
    }
    .product-item-wrap,
    .product-item-wrap.even {
      .content-wrap .content-text {
        padding-left: .5rem;
        padding-right: .5rem;
      }
    }
  }
  .block-images {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding: 37px 0;
    .image-item {
      padding-top: 20px;
      img {
        display: block;
        margin: 0;
      }
    }
  }
  .block-company_history {
    .history-item {
      .info-wrap {
        max-width: 300px;
      }
    }
  }
  .post-type-archive-news,
  .home .block-show_news {
    .news-item {
      .has-thumbnail {
        .news-content-data {
          padding-left: 0;
          height: auto;
        }
        .news-date {
          padding: 0;
        }
      }
      .news-content-data {
        height: auto;
      }

      .news-image {
        padding-bottom: 20px;
        .news-image-bg {
          height: auto;
          background-image: none !important;
          img {
            display: block;
          }
        }
      }
    }
  }

  .single-success_history {
    .page-content .container {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  .block-image_title_aligment {
    .success-title {
      padding-bottom: 20px;
    }
    .block-left-img {
      .success-title {
        padding-left: 0;
      }
    }
    .block-right-img {
      .success-title {
        padding-right: 0;
      }
    }
  }

  .block-clients_success_history {
    .clients-wrap {
      .custom-row {
        .client-item-wrap {
          flex-basis: 50%;
          max-width: 50%;
        }
      }
    }
  }

  .page-template-demo-template {
    .page-content {
      .page-title {
        margin-top: 30px;
      }
      .content-text,
      .content-form,
      .content-img {
        padding-right: 0;
      }
    }
  }
}

@include apply-to(max, 600) {
  #wpadminbar {
    position: fixed;
  }
  #top-wrap {
    .logo-full {
      display: none;
    }
  }
  .block-company_history {
    .history-item {
      .info-wrap {
        max-width: 250px;
      }
      &.left {
        .info-wrap {
          left: 150px;
        }
      }
      &.right {
        .info-wrap {
          left: 150px;
        }
      }
    }
  }
  .block-scrolling_tabs {
    .scrolling-menu {
      .scrolling-menu-item {
        font-size: 18px;
      }
    }
    .scrolling-text {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

@include apply-to(max, 480) {
  body {
    font-size: 16px;
    line-height: 28px;
  }
  h1 {
    font-size: 30px;
    line-height: 42px;
  }

  .page-content {
    .container > .row {
      width: 100%;
    }
    .btn {
      width: 100%;
      margin-right: 0;
      text-align: center;
    }
  }

  .front-block-scroller .scroller-details .container-wrap .scroller-info-title,
  .block-clients .block-title h1 {
    font-size: 30px;
  }

  #menu-wrap > .phone-header {
    display: none;
  }

  #menu-wrap {
    .phone-text {
      font-size: 16px !important;
    }
  }
  .block-plain_text-title,
  .page-title {
    font-size: 30px;
    line-height: 36px;
  }
  .breadcrumbs {
    display: none;
  }
  .nav-links {
    margin-top: 10px;
  }

  .single-events {
    .event-gallery {
      .gallery-image {
        margin: 0 auto;
      }
    }
  }

  .block-slider {
    .slide-block {
      .slide-content {
        .slide-title {
          font-size: 32px;
        }
        .slide-text {
          font-size: 24px;
          line-height: 30px;
        }
      }

    }
  }
  .block-show_reviews {
    .owl-controls {
      top: 185px;
      //top: 100%;
      //margin-top: -100px !important;
    }
    .review-content {
      padding: 20px 0 20px 0;
    }
  }
  .block-company_history {
    .years-line {
      max-width: 80px;
    }
    .history-item {
      .info-wrap {
        max-width: 250px;
      }
      .year {
        font-size: 16px;
      }
    }

    .history-item.left .info-wrap,
    .history-item.right .info-wrap {
      left: 110px;
    }
  }
  .block-clients_success_history {
    .clients-wrap {
      .custom-row {
        .client-item-wrap {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    }
  }
  .block-scrolling_tabs {
    .scrolling-menu {
      display: none;
    }
    .scrolling-text {
      width: 100%;
      .scrolling-title-mobile {
        display: block;
      }
    }
  }
  .block-courses {
    .block-title h1 {
      line-height: 36px;
    }
  }
}

@include apply-to(max, 375) {
  #menu-wrap {
    .main-menu-wrap {
      max-width: 90%;
      //min-width: 100px;
      #main-menu li,
      .mob-menu-item {
        padding: 0;
        a {
          display: block;
          padding: 21px 25px;
        }
      }
    }
    #main-menu ul.sub-menu li {
      a {
        padding: 21px 20px 21px 50px;
      }
    }

    .mob-menu-item {
      &.mob-menu-item-control {
        padding: 20px;
        a.btn {
          padding: 8px 15px 9px;
          font-size: 16px;
        }
      }
    }

  }

  .page-content {
    .page-left {
      //padding: 20px 0;
    }
  }

  .block-courses {
    .course-item {
      .course-name {
        font-size: 20px;
        line-height: 22px;
      }
      .course-duration {
        font-size: 22px;
      }
    }
  }
  .front-block-scroller {
    .scroller-details {
      .container-wrap {
        .scroller-info-title {
          font-size: 30px;
        }
      }
    }
  }
  .block-ct_numbers,
  .block-company_offies_numbers {
    .numbers-item {
      width: 100%;
    }
  }
  .block-company_history {
    .history-item {
      .info-wrap {
        max-width: 180px;
      }
      &.left {
        .info-wrap {
          left: 110px;
        }
      }
      &.right {
        .info-wrap {
          left: 110px;
        }
      }
    }
  }
}

@include apply-to(max, 320) {
  .block-plain_text-title,
  .page-title {
    font-size: 24px;
    line-height: 30px;
  }
}