$mainFont: "Open Sans", Arial, 'Helvetica Neue', Helvetica, sans-serif;
$mainFontSize: 18px;
$mainFontWeight: 300;
$mainLineHeight: 30px;
$activeColor : #2d8ac7;
$activeColorLight : rgba(46, 140, 199, 0.3);
$buttonColor: #ff9f00;
$mainColor: #737a84;
$lightGrayBg: #f7f7f7;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}