.ct-list-style {
  background-image: url('../img/ct-icons/list-style.svg');
}

.ct-contacts {
  background-image: url('../img/ct-icons/contacts.svg');
}

.ct-communication {
  background-image: url('../img/ct-icons/communication.svg');

}

.ct-business_process {
  background-image: url('../img/ct-icons/business-process.svg');

}

.ct-mobile {
  background-image: url('../img/ct-icons/mobile.svg');

}

.ct-sales {
  background-image: url('../img/ct-icons/sales.svg');

}

.ct-chatter {
  background-image: url('../img/ct-icons/chatter.svg');

}

.ct-clients-portal {
  background-image: url('../img/ct-icons/clients-portal.svg');

}

.ct-contact-center {
  background-image: url('../img/ct-icons/contact-center.svg');

}

.ct-email {
  background-image: url('../img/ct-icons/email.svg');

}

.ct-mobile-solution {
  background-image: url('../img/ct-icons/mobile-solution.svg');

}

.ct-auto-process {
  background-image: url('../img/ct-icons/auto-process.svg');

}

.ct-sale-adaptation {
  background-image: url('../img/ct-icons/sale-adaptation.svg');

}

.ct-integration-system {
  background-image: url('../img/ct-icons/integration-system.svg');

}

.ct-cloud {
  background-image: url('../img/ct-icons/cloud.svg');

}

.ct-db {
  background-image: url('../img/ct-icons/db.svg');

}

.ct-interface {
  background-image: url('../img/ct-icons/interface.svg');

}

.ct-logic {
  background-image: url('../img/ct-icons/logic.svg');

}

.ct-operations {
  background-image: url('../img/ct-icons/operations.svg');

}

.ct-web-sites {
  background-image: url('../img/ct-icons/web-sites.svg');

}

.ct-mobile-devices {
  background-image: url('../img/ct-icons/mobile-devices.svg');

}

.ct-file-rep {
  background-image: url('../img/ct-icons/file-rep.svg');

}

.ct-analitic {
  background-image: url('../img/ct-icons/analitic.svg');

}

.ct-security {
  background-image: url('../img/ct-icons/security.svg');

}

.ct-ofline {
  background-image: url('../img/ct-icons/ofline.svg');

}

.ct-optimize {
  background-image: url('../img/ct-icons/optimize.svg');

}

.ct-productivity {
  background-image: url('../img/ct-icons/productivity.svg');

}

.ct-reports {
  background-image: url('../img/ct-icons/reports.svg');

}

.ct-sync {
  background-image: url('../img/ct-icons/sync.svg');

}

.ct-activity-menege {
  background-image: url('../img/ct-icons/activity-menege.svg');
}

.ct-busines-process {
  background-image: url('../img/ct-icons/busines-process.svg');
}

.ct-contact-data {
  background-image: url('../img/ct-icons/contact-data.svg');
}

.ct-effectivity-menege {
  background-image: url('../img/ct-icons/effectivity-menege.svg');
}

.ct-sales-distribution {
  background-image: url('../img/ct-icons/sales-distribution.svg');
}

.ct-cross-browser {
  background-image: url('../img/ct-icons/cross-browser.svg');
}

.ct-innovation-architecture {
  background-image: url('../img/ct-icons/innovation-architecture.svg');
}

.ct-protection-license {
  background-image: url('../img/ct-icons/protection-license.svg');
}

.ct-secure-access {
  background-image: url('../img/ct-icons/secure-access.svg');
}

.ct-usability {
  background-image: url('../img/ct-icons/usability.svg');
}

.ct-dfg152 {
  background-image: url('../img/ct-icons/dfg152.svg');
}

.ct-document-creation {
  background-image: url('../img/ct-icons/document-creation.svg');
}

.ct-personal-data-storage {
  background-image: url('../img/ct-icons/personal-data-storage.svg');
}

.ct-mob-app-creation {
  background-image: url('../img/ct-icons/mob-app-creation.svg');
}

.ct-mob-app-testing {
  background-image: url('../img/ct-icons/mob-app-testing.svg');
}

.ct-manage-territories {
  background-image: url('../img/ct-icons/manage-territories.svg');
}

.ct-mob-devices {
  background-image: url('../img/ct-icons/mob-devices.svg');
}

.ct-planning {
  background-image: url('../img/ct-icons/planning.svg');
}

.ct-reports-analitic {
  background-image: url('../img/ct-icons/reports-analitic.svg');
}

.ct-sales-base {
  background-image: url('../img/ct-icons/sales-base.svg');
}

.ct-samples {
  background-image: url('../img/ct-icons/samples.svg');
}

.ct-track-competitiors {
  background-image: url('../img/ct-icons/track-competitiors.svg');
}

.ct-front-office-automatisation {
  background-image: url('../img/ct-icons/front-office-automatisation.svg');
}

.ct-marketing-manage {
  background-image: url('../img/ct-icons/marketing-manage.svg');
}

.ct-sale-managment {
  background-image: url('../img/ct-icons/sale-managment.svg');
}

.ct-service-automatisation {
  background-image: url('../img/ct-icons/service-automatisation.svg');
}

.ct-home-farmac {
  background-image: url('../img/ct-icons/home-farmac.svg');
}

.ct-home-financy {
  background-image: url('../img/ct-icons/home-financy.svg');
}

.ct-home-proizvoditeli {
  background-image: url('../img/ct-icons/home-proizvoditeli.svg');
}

.ct-home-telecommunicate {
  background-image: url('../img/ct-icons/home-telecommunicate.png');
}

.ct-ctcontacts {
  background-image: url('../img/ct-icons/ctcontacts.svg');
}

.ct-fb-icon {
  background-image: url('../img/ct-icons/fb-icon.svg');
}
.ct-in-icon {
  background-image: url('../img/ct-icons/in-icon.svg');
}
.ct-tw-icon {
  background-image: url('../img/ct-icons/tw-icon.svg');
}
.ct-yt-icon {
  background-image: url('../img/ct-icons/yt-icon.svg');
}

.ct-oborudovanie {
  background-image: url('../img/ct-icons/oborudovanie.png');
}
.ct-prof_uslugi {
  background-image: url('../img/ct-icons/prof_uslugi.png');
}

.admin-icon {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ccc;
}

.ct {
  display: inline-block;
  width: 90px;
  height: 90px;
  vertical-align: middle;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ct-admin {
  margin-left: 30px;
}