@import 'mixins';
@import 'variables';
@import 'common';

* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	padding-bottom: 120px;
	color: $mainColor;
	font-family: $mainFont;
	font-size: $mainFontSize;
	font-weight: $mainFontWeight;
	line-height: $mainLineHeight;
	-webkit-font-smoothing: antialiased;
	min-height: 100%;
	position: relative;

}

img {
	max-width: 100%;
	height: auto;
	border: 0;
}

h1 {
	font-size: 40px;
	font-weight: 300;
	line-height: 52px;
}

h3 {
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
}

a {
	color: $activeColor;
	&:hover {
		text-decoration: none;
	}
}

ul {
	margin-left: 30px;
	li {
		padding-left: 10px;
	}
}

p {
	padding-bottom: 20px;
}

ul.marker-list {
	a {
		text-decoration: none;
		color: $mainColor;
		&:hover {
			color: $activeColor;
			text-decoration: underline;
		}
	}
}

// Checkbox customize

input[type=checkbox] {
	opacity: 0;
	position: absolute;
	z-index: 12;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

/* Disable outline when clicked*/
input[type=checkbox]:checked,
input[type=checkbox]:focus {
	outline: none !important;
}

input[type=checkbox]+label {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 0;
	line-height: 25px;
	min-height: 25px;
	min-width: 25px;
	margin-bottom: 25px;
}

/* Basic Checkbox styles */
input[type=checkbox]+label:before {
	content: '';
	background-color: $lightGrayBg;
	border: 2px solid #c6c6c6;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	height: 21px;
	line-height: 21px;
	min-width: 21px;
	margin-right: 7px;
	margin-top: -5px;
}

/* Checked state styles */
input[type=checkbox]:checked+label:before {
	display: inline-block;
	content: url('../img/ct-icons/checked-icon.svg');
}

/* Hover state styles */
input[type=checkbox]:hover+label:before,
input[type=checkbox]+label:hover:before {
	border-color: darken(#9b9b9b, 5%);
}

/* Disabled state styles */
input[type=checkbox]:disabled+label:before,
input[type=checkbox][disabled]+label:before,
input[type=checkbox].disabled+label:before {
	background-color: #DDD !important;
	border-color: #CCC !important;
	box-shadow: none !important;
	color: #BBB;
}
// End checkbox customize


.clear {
	clear: both;
}

/*
* Form elements
*/
form {
	padding: 30px 0;
}
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
	width: 100%;
	height: 40px;
	background-color: #f8f8f8;
	border: 2px solid #c6c6c6;
	margin-bottom: 20px;
	font-size: 14px;
	padding-left: 15px;
	color: $mainColor;
	&.error {
		border-color: #960100;
	}
	&.success {
		border-color: #097e00;
	}
}

input[type="button"],
input[type="submit"],
button {
	border: none;
	cursor: pointer;
	font-size: $mainFontSize;
}


select {
	//appearance: none;
	//-webkit-border-radius: 0px;
	//border-radius: 0;
}

.ui-icon-triangle-1-s {
	// set icon for select
	background-position: -130px -16px;
}

textarea {
	width: 100%;
	background-color: #f8f8f8;
	border: 2px solid #c6c6c6;
	margin-bottom: 20px;
	padding: 15px;
	font-size: $mainFontSize;
	color: $mainColor;
	font-weight: 300;
	resize: none;
}

.error-msg {
	font-weight: 400;
	color: #960100;
	font-size: 16px;
}
.form-success,
.form-error {
	display: none;
	padding: 50px 0;
	.form-message {
		padding-top: 30px;
	}
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	background-image: none;
}

.ui-selectmenu-text {
	color: $mainColor;
}

.ui-selectmenu-button {
	width: 100% !important;
	border-radius: 0;
	background-color: #f8f8f8;
	border: 2px solid #c6c6c6;
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 300;
	height: 40px;
	padding: 2px 0 0 15px;
	color: $mainColor;
	//padding-left: 15px;
	&.error {
		border-color: #960100;
	}
	&.success {
		border-color: #097e00;
	}
}

.ui-state-hover,
.ui-state-focus {
	background-image: none;
	background-color: #f8f8f8;
}

.ui-menu {
	.ui-state-focus,
	.ui-menu-item {
		background-color: #f8f8f8;
		font-size: 14px;
		font-weight: 300;
		color: $mainColor;
		background-image: none;
		border: none;
	}
	.ui-state-focus {
		background-color: $activeColor;
		color: #fff;
	}

	.ui-state-focus,
	.ui-state-active {
		margin: 0;
	}

	.ui-menu-item {

	}
}

.main-form-wrap {
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	.form-title,
	.options-title {
		color: #4a4a4a;
		font-size: $mainFontSize;
		font-weight: 600;
		line-height: 24px;
		display: block;
		text-align: center;
		padding-bottom: 40px;
	}
	padding-bottom: 30px;
}

.container {
	width: 990px;
	margin: 0 auto;
	@include apply-to(max, 1200) {
		//width: 100%;
		//padding: 0 40px;
	}
	@include apply-to(max, 1024) {
		width: 100%;
		padding: 0 40px;
	}
}

.container-scroller {
	width: 990px;
	margin: 0 auto;
}

.container-full {
	width: 100%;
	margin: 0 auto;
	&.padded {
		padding: 0 30px;
		//@include apply-to(max, 990) {
		//	padding: 0 15px;
		//}
	}
}

#top-wrap {
	height: 80px;
	padding-top: 16px;
	background-color: white;
	box-shadow: 0 0 5px rgba(26, 26, 26, 0.3);
	position: fixed;
	width: 100%;
	z-index: 2;
	-webkit-transform: translateZ(0);
	@include apply-to(max, 1070) {
		.logo-full {
			display: none;
		}
	}
}
#main-content {
	padding-top: 80px;
}

#logo {
	display: inline-block;
	vertical-align: top;
	padding-top: 6px;
	text-decoration: none;
	white-space: nowrap;
	.logo-icon {
		//max-width: 48px;
		height: 36px;
	}
	.logo-full {
		//max-width: 205px;
		height: 36px;
	}
}

#platinum-partner {
	margin-left: 15px;
}
#menu-wrap {
	$hideMW: 1440;
	float: right;
	//padding-top: 6px;
	margin-top: -5px;
	.mobile-menu-info {
		display: none;
	}
	.menu-btn {
		display: none;
		font-size: 42px;
		vertical-align: middle;
		margin-left: 20px;
		color: $buttonColor;
		cursor: pointer;
	}

	.main-menu-wrap {
		display: inline-block;
		margin-right: 60px;
	}

	#main-menu {
		& > li{
			border-bottom: 3px solid transparent;
			&:hover,
			&.current-menu-parent {
				border-bottom: 3px solid $buttonColor;
			}
			&.current-menu-parent > a {
				color: $buttonColor;
			}
		}
		.current-menu-item > a {
			color: $buttonColor;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			margin-left: 35px;
			padding: 0;
			padding-bottom: 32px;
			transition: 0.1s;
			.menu-icon {
				display: none;
			}
			&#menu-item-22 {
				margin-left: 0;
			}
			a {
				font-size: 16px;
				color: $mainColor;
				font-weight: 400;
				text-decoration: none;
				transition: 0.2s;
			}
			&.current_page_item > a, & a:hover {
				color: $buttonColor !important;
			}
		}

		li:hover .sub-menu {
			visibility: visible;
			opacity: 1;
			//display: block;
		}
		@include apply-to(max, $hideMW) {
			li {
				margin-left: 24px;
			}
		}

		&.sub-menu {
			max-width: 350px;
			position: absolute;
			top: 80px;
			border: 1px solid #e6e6e6;
			border-bottom: 0;
			margin-left: -24px;
			//display: none;
			visibility: hidden;
			opacity: 0;
			transition: visibility 0.1s, opacity 0.1s linear;
			li {
				display: block;
				left: 0;
				margin-left: 0;
				padding: 12px 30px;
				background: #fff;
				border-bottom: 1px solid #e6e6e6;
				line-height: 20px;
			}
		}
	}

	.phone-header {
		color: $activeColor;
	}

	#try-btn {
		display: inline-block;
		margin-left: 60px;
		@include apply-to(max, $hideMW) {
			margin-left: 40px;
		}
	}

	@include apply-to(max, ($hideMW+40) ) {
		//home page
		#menu-item-22 {
			display: none;
		}

	}

	@include apply-to(max, 1270) {
		//display: none;
		.main-menu-wrap {
			margin-right: 10px;
		}
	}
	@include apply-to(max, 1220) {
		.phone-text {
			display: none;
		}
	}
	.btn {
		padding: 8px 15px 9px;
	}
}

.phone {
	text-decoration: none;
	font-weight: 400;
	.fa-phone:before {
		padding-left: 4px;
	}
	.fa-phone {
		padding-top: 3px;
		width: 25px;
		height: 25px;
		border: 1px solid;
		border-radius: 50%;
	}
}

.social-links {
	padding-top: 13px;
	padding-bottom: 9px;
	border-top: 2px solid #97c5e4;
	border-bottom: 2px solid #97c5e4;
	text-align: center;
	a {
		margin-right: 20px;
		img {
			height: 28px;
		}
	}
}

/*
*  Blocks styles
*/
.block {
	h1 {
		color: $activeColor;
		text-align: center;
	}
}
.block-plain_text {
	background-color: $lightGrayBg;
	padding: 50px 0;
	text-align: center;
	//.plain-text-wrap {
	//	padding-top: 20px;
	//}
	h2 {
		font-size: 24px;
		font-weight: $mainFontWeight;
		line-height: 28px;
		color: $activeColor;
	}
	.block-plain_text-title {
		padding-bottom: 25px;
	}
}
.block-scroller {
	background-color: #fff;
	padding: 50px 0;
	box-shadow: 0 -10px 30px -10px rgba(0,0,0,.1);
	.block-title {
		padding-bottom: 50px;
	}
	.owl-carousel {
		.owl-stage,
		.owl-item {
			height: 100%;
		}
		.owl-item {
			border-bottom: 2px solid $activeColorLight;
			cursor: pointer;
			transition: background-color 0.4s;
			&.carousel-block-active {
				border-color: $activeColor;
				background-color: lighten($activeColor, 45);
			}
			.carousel-title:hover {
				color: $activeColor;
			}
			&:hover {
				border-color: lighten($activeColor, 25);
			}
		}
		.owl-controls {
			position: absolute;
			top: 50%;
			margin-top: -23px;
			width: 100%;

			.owl-prev,
			.owl-next {
				position: absolute;
				color: $activeColor;
				font-size: 46px;
			}
			.owl-prev {
				left: -40px;
			}
			.owl-next {
				right: -40px;
			}
		}
	}
	.carousel-data {
		width: 150px;
		margin: 0 auto;
		padding-top: 30px;
		.carousel-title {
			color: $mainColor;
			font-family: $mainFont;
			font-size: 14px;
			font-weight: 400;
			line-height: 19px;
			text-align: center;
			margin-top: 30px;
			padding-bottom: 40px;
		}
		.ct {
			margin: 0 auto;
			display: block;
		}
	}

	.scroller-details {
		margin-top: 40px;
		.scroller-image {
			padding-right: 20px;
		}
		.scroller-info {
			padding-left: 20px;
		}
		.scroller-info-icon {
			margin-bottom: 20px;
		}
		.scroller-info-title {
			color: $activeColor;
			font-size: 24px;
			display: block;
			margin-bottom: 18px;
			line-height: 52px;
		}
		.scroller-info-description {
			font-weight: 400;
		}
	}
}
.front-block-scroller {
	padding: 0;
	.container-scroller-wrap {
		background-color: #0f5481;
		max-height: 150px;
		overflow-y: hidden;
	}
	.carousel-data {
		width: 100%;
		.carousel-title {
			padding-bottom: 30px;
			margin-top: 15px;
		}
		.ct {
			height: 45px;
		}
	}
	.owl-carousel {
		.owl-stage,
		.owl-item {
			//max-height: 135px;
		}
		.owl-item {
			border-bottom: none;
			position: relative;
			.carousel-title {
				color: rgba(255,255,255, .5);
			}
			&.carousel-block-active {
				background-color: #243f51;
				&:after {
					content: '';
					position: absolute;
					left: 50%;
					bottom: 0;
					border: 20px solid transparent;
					border-bottom: 20px solid #fff;
					margin-left: -20px;
				}
				.carousel-title {
					color: #fff;
				}
			}
			&:hover {
				background-color: #243f51;
				&:after {
					content: '';
					position: absolute;
					left: 50%;
					bottom: 0;
					border: 20px solid transparent;
					border-bottom: 20px solid #fff;
					margin-left: -20px;
				}
				.carousel-title {
					color: #fff;
				}
			}
		}
		.owl-controls {
			.owl-prev,
			.owl-next {
				color: #fff;
			}
		}
	}
	.scroller-details {
		margin-top: 0;
		.container-wrap {
			.container-wrap-bg {
				padding: 50px 0;
			}
			background: no-repeat center center;
			background-size: cover;
			.scroller-info-title {
				color: $mainColor;
				font-size: 40px;
				padding-bottom: 30px;
			}
			.scroller-info-description {
				font-weight: 300;
			}
		}
	}
}
.block-icon_with_title {
	background-color: $lightGrayBg;
	padding-top: 50px;
	padding-bottom: 35px;
	.icon {
		.ct {
			display: block;
			margin: 0 auto;
			width: 130px;
			height: 130px;
		}
	}
	.title {
		color: $activeColor;
		text-align: center;
		padding-top: 35px;
	}
}
.block-icon_with_description {
	background-color: $lightGrayBg;
	padding-top: 10px;
	padding-bottom: 20px;
	.icon {
		.ct {
			display: block;
			margin: 0 auto;
			width: 130px;
			height: 130px;
			//background-position: top left;
		}
	}
	.title {
		color: $activeColor;
		font-size: 24px;
		padding-bottom: 25px;
	}
	.description {
		font-size: 16px;
		padding-bottom: 45px;
	}
}
.block-clients {
	padding-top: 25px;
	padding-bottom: 55px;
	background-color: $lightGrayBg;
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1);
	position: relative;
	.container-clients {
		width: 90%;
		margin: 0 auto;
	}
	.block-title h1 {
		color: $mainColor;
		font-size: 40px;
		font-weight: 300;
		line-height: 52px;
		text-align: center;
	}
	.owl-theme .owl-controls {
		margin-top: 20px;
	}
	.owl-carousel {
		margin-top: 55px;
		margin-bottom: 55px;
		position: relative;
		//.owl-item {
		//	height: 100% !important;
		//}
		.owl-item {
			padding: 0 30px;
			display: flex;
			height: 100px;
			justify-content: center;
			.carousel-block {
				display: flex;
				.scroller-image {
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
			img {
				width: auto;
				max-height: 100px;
			}
		}
	}
	//.owl-nav {
	//	position: absolute;
	//	top: 50%;
	//	margin-top: -45px;
	//	width: 100%;
    //
	//	.owl-prev,
	//	.owl-next {
	//		position: absolute;
	//		color: $activeColor;
	//		font-size: 46px;
	//	}
	//	.owl-prev {
	//		left: -40px;
	//	}
	//	.owl-next {
	//		right: -40px;
	//	}
	//	@include apply-to(max, 1024) {
	//		& {
	//			display: none;
	//		}
	//	}
	//	@include apply-to(max, 1100) {
	//		.owl-prev {
	//			left: 5px;
	//		}
	//		.owl-next {
	//			right: 5px;
	//		}
	//	}
	//}
	.owl-controls {
		position: absolute;
		width: 100%;

		.owl-prev,
		.owl-next {
			position: absolute;
			color: $activeColor;
			font-size: 46px;
			top: -95px;
		}
		.owl-prev {
			left: -40px;
		}
		.owl-next {
			right: -40px;
		}
	}
	.owl-nav {
		@include apply-to(max, 1024) {
			& {
				display: none;
			}
		}
		@include apply-to(max, 1100) {
			.owl-prev {
				//left: 5px;
			}
			.owl-next {
				//right: 5px;
			}
		}
	}
}
.block-services,
.block-tabs_service_packs {
	background-color: $lightGrayBg;
	padding: 50px 0;
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1);
	#tabs {
		.content-no-tabs {
			display: none;
		}
		&.ui-widget-content {
			border: none;
			background: none;
			.ui-widget-header {
				border: none;
				background: none;
				li {
					border: none;
					background: none;
					position: relative;
					overflow: hidden;
					//&.ui-state-hover:after,
					&.ui-tabs-active:after {
						content: '';
						position: absolute;
						width: 30px;
						height: 30px;
						background: #fff;
						-webkit-transform: rotate(45deg);
						transform: rotate(45deg);
						box-shadow: 0 0 30px rgba(0,0,0,.1);
						bottom: -15px;
						left: 50%;
					}
				}
			}
		}
		.tabs-content {
			background: #fff;
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
			padding: 60px 0;
			font-size: 18px;
			font-weight: $mainFontWeight;
		}
		.ui-widget-content {
			border: none;
			color: $mainColor;
			a {
				color: $mainColor;
				&:hover {
					color: $activeColor;
				}
			}

		}
		a.tabs {
			display: block;
			.icon {
				.ct {
					//padding: 10px 0;
					display: block;
					margin: 15px auto;
					width: 130px;
					height: 130px;
				}
			}
			.title {
				font-family: $mainFont;
				color: $activeColor;
				font-size: 18px;
				font-weight: $mainFontWeight;
				text-align: center;
				padding-top: 25px;
				padding-bottom: 40px;
			}
		}
	}
}
.block-services {
	#tabs {
		ul.ui-tabs-nav {
			margin-top: 40px;
			& > li {
				.ct {
					transition: transform 200ms;
				}
				&:hover {
					.ct {
						transform: rotate(5deg) scale(1.1);
					}
					.title {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
.block-tabs_service_packs {
	padding-bottom: 0;
	.block-title {
		padding-bottom: 25px;
	}
	#tabs {
		ul.ui-tabs-nav {
			& > li {
				padding-bottom: 40px;
				display: flex;
			}
		}
		a.tabs {
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
			margin: 30px 10px 0 10px;
			background: #fff;
			&:hover {
				box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
				transition: 0.5s;
			}
			.title {
				padding: 17px 0;
				font-size: 36px;
				color: #fff;
				&.bronze {
					background-color: $mainColor;
				}
				&.silver {
					background-color: $activeColor;
				}
				&.gold {
					background-color: #ff9f00;
				}
			}
			.description {
				padding: 30px 50px;
				color: $mainColor;
				font-size: 14px;
				line-height: 17px;
			}
		}
	}
}
.block-logos {
	background-color: $lightGrayBg;
	padding-bottom: 50px;
	.logos-wrap {
		padding-top: 20px;
		text-align: justify;
		.logo-item {
			display: inline-block;
			//float: left;
			//padding-right: 70px;
			padding: 0 35px;
			line-height: 100px;
			transition: all 0.6s;
			img	 {
				vertical-align: middle;
			}
		}
	}
}
.block-courses {
	padding: 50px 0;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	margin-bottom: 10px;
	.block-title {
		padding-bottom: 30px;
		h1 {
			text-align: left;
		}
	}
	.course-item {
		padding: 30px 0;
		border-top: 1px solid $activeColor;
		&:last-of-type {
			border-bottom: 1px solid $activeColor;
		}
		.course-name {
			font-size: 36px;
			line-height: 43px;
		}
		.course-duration {
			text-align: right;
			font-size: 40px;
			line-height: 52px;
			color: $activeColor;
		}
	}
}
.block-vacancy {
	padding: 35px 0;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	.block-title {
		h1 {
			text-align: left;
		}
	}

	.vacancy-item {
		border-bottom: 2px solid #97c5e4;
		padding-top: 30px;
		h2 {
			font-weight: 300;
			color: #4a4a4a;
			margin-bottom: 20px;
		}

		.vacancy-description {
			padding-bottom: 20px;
		}
		.vacancy-content {
			display: none;
		}
		.vacancy-more {
			font-size: 18px;
			color: $activeColor;
			padding-bottom: 20px;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
			.fa {
				font-size: 14px;
			}
		}
	}
}
.block-text_with_bg,
.block-text_bg_img {
	color: #fff;
	padding: 50px 0;
	font-size: 20px;
	background: no-repeat center center;
	background-size: cover;
	@include apply-to(max, 1200) {
		//background-size: auto 100%;
	}
	a {
		color: #fff;
		font-size: 36px;
		font-weight: 300;
		@include apply-to(max, 767) {
			font-size: 30px;
		}
		@include apply-to(max, 480) {
			font-size: 24px;
		}
	}
	hr {
		border: 0;
		height: 0;
		border-bottom: 2px solid rgba(255,255,255, .5);
	}
}
.block-text_with_bg {
	a {
		text-decoration: none;
		border-bottom: 2px solid #fff;
		&:hover {
			border-bottom: none;
		}
	}
}
.block-slider {
	max-height: 600px;
	overflow-y: hidden;
	position: relative;
	.slide-block {
		position: relative;
		background: no-repeat center center;
		background-size: cover;
		.container,
		.row {
			height: 100%;
		}
		.slide-content {
			height: 600px;
			width: 100%;
			.slide-title {
				font-size: 72px;
				color: #fff;
			}
			.slide-text {
				font-size: 40px;
				color: #fff;
				padding: 30px 0;
				line-height: 52px;
				.btn {
					display: inline-block;
					margin-bottom: 20px;
				}
			}
		}
	}
	.owl-carousel {
		position: relative;
		.owl-controls {
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -48px;
			padding-bottom: 30px;
			.owl-dots .owl-dot span {
				border-color: #fff;
			}
			.owl-dots .owl-dot.active span,
			.owl-dots .owl-dot:hover span {
				background: #fff;
			}
		}
	}
}
.block-show_reviews {
	.reviews-wrap {
		padding: 50px 0;
		background: no-repeat center center;
		background-size: cover;
		position: relative;
	}
	.block-review-title {
		h1 {
			color: #fff;
		}
	}
	.review-content-wrap {
		padding-top: 30px;
		.review-item {
			.review-image {
				margin: 0 auto;
				width: 120px;
				height: 120px;
				.review-image-bg {
					height: 100%;
					border-radius: 50%;
					background: no-repeat center center;
					background-size: cover;
				}
				//img {
				//	width: 100%;
				//	height: 100%;
				//	border-radius: 50%;
				//}
			}
			.review-content {
				padding-top: 20px;
				color: #fff;
				font-weight: 400;
			}
		}
	}
	.owl-carousel {
		position: inherit;
	}
	.owl-controls {
		position: absolute;
		top: 50%;
		margin-top: -40px !important;
		width: 100%;

		.owl-prev,
		.owl-next {
			position: absolute;
			color: #fff;
			font-size: 86px;
		}
		.owl-prev {
			left: 80px;
		}
		.owl-next {
			right: 80px;
		}
	}
}
.block-show_events {
	background: $lightGrayBg;
	padding-bottom: 50px;
	.events-list-title h1{
		text-align: left;
		color: $mainColor;
		padding-left: 20px;
	}

	.events-wrap {
		.events-list {
			.event-item-wrap {
				margin: 0 20px;
				&:nth-child(odd) {
					padding-right: 0;
				}
				&:nth-child(even) {
					padding-left: 0;
				}
				.event-item {
					height: 440px;
					margin-top: 40px;
					margin-bottom: 50px;
				}
			}
			.date-link-wrap {
				position: absolute;
				width: 100%;
				.event-date {
					position: relative !important;
					padding: 30px;
				}
				.event-link {
					text-align: center;
				}
			}
		}
	}
}
.block-ct_numbers,
.block-company_offies_numbers {
	padding-top: 35px;
	padding-bottom: 45px;
	background: no-repeat center center;
	background-size: cover;
	.title h1 {
		color: #fff;
	}
	.numbers-wrap {

	}
	.numbers-item {
		color: #fff;
		width: 20%;
		float: left;
		padding: 0 20px;
		text-align: center;
		.icon {
			margin-top: 40px;
			margin-bottom: 30px;
			height: 70px;
		}
		.number {
			font-weight: 700;
			font-size: 30px;
		}
		.info {
			font-size: 18px;
			text-transform: uppercase;
		}
	}
}
.block-products_main {
	.product-item-wrap {
		background: $lightGrayBg;
		padding-top: 60px;
		padding-bottom: 50px;
		.content-wrap {
			.content-text {
				padding-left: 30px;
				font-weight: 400;
			}
			.title h1 {
				text-align: left;
				margin-bottom: 25px;
			}
		}
		.link-wrap {
			margin-top: 35px;
		}
	}
	.product-item-wrap.even {
		background: $buttonColor;
		.content-wrap {
			.content-text {
				padding-right: 30px;
				padding-left: 0;
				color: #fff;
			}
			.title h1 {
				color: #fff;
			}
		}
	}
}
.block-images {
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	padding: 37px 0;
	.image-item {
		img {
			display: block;
			margin: 0 auto;
		}
	}
}
.block-company_offies_numbers {
	background: no-repeat center center;
	background-size: cover;
	padding-bottom: 30px;
	.title-offices h1 {
		color: #fff;
		padding-bottom: 35px;
	}
	.image {
		img	{
			display: block;
			margin: 0 auto;
		}
		//text-align: center;
	}
	.block-company_offies_numbers {
		background-image: none !important;
	}
}
.block-image_1_in_row {
	padding: 40px 0;
	.image-item {
		img {
			display: block;
			margin: 0 auto;
		}
	}
}
.block-company_history {
	background: no-repeat center center;
	background-size: cover;
	padding-top: 30px;
	.years-line {
		max-width: 120px;
	}
	h1.block-title {
		color: #fff;
	}
	.history-wrap {
		padding-top: 70px;
		padding-bottom: 50px;
	}
	.history-item {
		background: url("../img/line-bg.png") repeat-y center top;
		position: relative;
		.year {
			padding: 10px 30px;
			background: $buttonColor;
			font-size: 30px;
			color: #fff;
			border-radius: 25px;
			font-weight: 700;
			text-align: center;
		}
		.info-wrap {
			position: relative;
			background: #fff;
			padding: 18px;
			width: 350px;
			top: -75px;
			.image {
				img {
					width: 100%;
				}
			}
			.text {
				font-size: 16px;
				line-height: 22px;
				font-weight: 400;
				text-align: left;
				padding-bottom: 10px;
			}
		}
		&.left {
			.info-wrap {
				right: 400px;
				&:after {
					content: '';
					position: absolute;
					right: -40px;
					top: 30px;
					border: 20px solid transparent;
					border-left: 20px solid #fff;
				}

			}
		}
		&.right {
			.info-wrap {
				left: 180px;
				&:after {
					content: '';
					position: absolute;
					left: -40px;
					top: 30px;
					border: 20px solid transparent;
					border-right: 20px solid #fff;
				}
			}
		}
	}
	.history-item-wrap:last-of-type {
		.history-item {
			background: none;
		}
	}
}
.block-form_contacts {
	.main-form-wrap {
		.form-title,
		.options-title {
			text-align: left;
		}
		.options-title {
			margin-bottom: 20px;
		}
	}
	.submit-form {
		margin-top: 20px;
	}
}
.block-social_links {
	padding-bottom: 48px;
	.title {
		padding-top: 36px;
	}
	.social-items {
		margin: 0 auto;
		text-align: center;
		a {
			margin-top: 38px;
			margin-right: 35px;
			display: inline-block;
		}
		.ct {
			width: 48px;
			height: 48px;
		}
	}
}
.block-image_title_aligment {
	background: $lightGrayBg;
	padding-top: 20px;
	.success-title {
		line-height: 33px;
		font-size: 24px;
		color: $activeColor;
		//padding: 0 50px;
	}
	.block-left-img {
		.success-title {
			padding-left: 50px;
		}
	}
	.block-right-img {
		.success-title {
			padding-right: 50px;
		}
	}
	.block-img {
		padding-bottom: 50px;
		img {
			margin: 0 auto;
			display: block;
		}
	}
}
.block-clients_success_history {
	background: $lightGrayBg;
	padding-top: 40px;
	padding-bottom: 240px;
	.ui-selectmenu-button {
		border: none;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	}

	.clients-wrap {
		.custom-row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-left: -4%;
			margin-right: -4%;
			.client-item-wrap {
				flex-basis: 33.333%;
				max-width: 33.333%;
				padding-right: 4%;
				padding-left: 4%;
				display: flex;
				//transition: all 1s;
				&.active {
					display: flex;
				}
				&.disabled {
					display: none;
				}
				.client-item {
					background: #fff;
					margin-bottom: 60px;
					box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
					font-size: 14px;
					line-height: 20px;
					position: relative;
				}
				.client-img {
					height: 182px;
					align-items: center;
					display: flex;
					box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
					img {
						margin: auto;
						max-width: 160px;
						max-height: 110px;
						width: auto;
					}
				}

				.client-text {
					padding: 18px 25px 29px 29px;
				}

				.link {
					position: absolute;
					top: 100%;
					text-align: center;
					width: 100%;
					margin-top: 10px;
					a {
						background: $buttonColor;
						padding: 10px 32px;
						color: #fff;
						font-weight: 600;
					}
				}
			}
		}
	}
}
.block-text_4_column {
	padding: 40px 0;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	.block-title {
		padding-bottom: 47px;
	}
	.title {
		text-align: center;
		font-size: 20px;
		color: $activeColor;
		padding-bottom: 20px;
	}
	.description {
		text-align: center;
		font-size: 16px;
		line-height: 18px;
	}
}
.block-scrolling_tabs {
	padding-top: 45px;
	background: $lightGrayBg;
	.scrolling-wrap {
		position: relative;
	}
	.scrolling-menu {
		width: 28%;
		float: left;
		.scrolling-menu-item {
			display: block;
			font-size: 24px;
			padding: 14px 0;
			text-decoration: none;
			overflow: hidden;
			position: relative;
			&.mPS2id-highlight {
				color: $buttonColor;
				&:after {
					content: '';
					position: absolute;
					width: 30px;
					height: 30px;
					background: #fff;
					transform: rotate(45deg);
					box-shadow: 0 0 30px rgba(0,0,0,.1);
					right: -15px;
					top: 50%;
					margin-top: -15px;
				}
			}
		}
	}
	.scrolling-text {
		width: 72%;
		float: right;
		padding: 30px;
		background: #fff;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
		margin-bottom: 50px;
		.scrolling-title-mobile {
			font-size: 24px;
			color: $activeColor;
			padding-bottom: 20px;
			display: none;
		}
		.scrolling-text-item {
			padding-bottom: 30px;
			border-bottom: 2px solid #97c5e4;
			margin-bottom: 30px;
			&:last-of-type {
				border-bottom: none;
				margin-bottom: 0;
			}
		}
	}
	.info {
		padding-left: 20px;
		padding-bottom: 50px;
	}
}
/*
* End block styles
*/

#wrapper-video {
	z-index: 99;
	display: none;
	position: fixed !important;
	.close-video {
		position: fixed;
		padding: 20px 50px 0 50px;
		top: 100px;
		right: 0;
		height: 100%;
		overflow: hidden;
		transition: all 1s;
		&:hover {
			.fa {
				transform: rotate(90deg);
				transition: all 1s;
			}
		}
		.fa {
			font-size: 52px;
			color: $lightGrayBg;
			cursor: pointer;
		}
	}
}
#tubular-container {
	z-index: 2 !important;
}

.owl-theme {
	.owl-controls {
		margin-top: 10px;
		text-align: center;
		&.disabled-controls {
			display: none;
		}
	}

	.owl-dots .owl-dot {
		display: inline-block;
		zoom: 1;
		span {
			width: 10px;
			height: 10px;
			margin: 5px 7px;
			//background: #2d8ac7;
			display: block;
			transition: opacity 200ms ease;
			border-radius: 30px;
			border: 1px solid $activeColor;
		}

		&.active span,
		&:hover span {
			background: $activeColor;
		}
	}
}

.page-content {
	min-height: 500px;
	//background-repeat: no-repeat;
	//background-size: 100% 100%;
	background: no-repeat center center;
	background-size: cover;
	//padding-top: 55px;
	color: #fff;
	.container {
		display: flex;
		min-height: 500px;
	}
	.page-title {
		//margin-top: 35px;
	}
	.content-text {
		margin-top: 23px;
	}
	.btn {
		margin-top: 25px;
		margin-right: 25px;
		display: inline-block;
	}
	.content-img {
		img {
			display: block;
			margin: 0 auto;
		}
	}
}

/**
* Post type Uslugi
*/
.single-uslugi,
.single-otrasli,
.single-success_history,
.page-events,
.page {
	.page-content {
		min-height: 470px;
		color: $mainColor;
	}
	.block-plain_text {
		padding: 0;
	}

	.block-plain_text-title {
		text-align: left;
	}
	.plain-text-wrap {
		padding: 45px 0;
		text-align: left;
	}

	.block-icon_with_description {
		padding-top: 50px;
		.block-title {
			padding-bottom: 40px;
		}
		.icon {
			margin-bottom: 50px;
		}
	}
}
.single-uslugi {
	.plain-text-wrap:nth-child(odd) {
		background: #fff;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	}
}

.single-otrasli {
	.block-plain_text {
		background-color: $lightGrayBg;
	}
	.block-icon_with_description {
		padding-top: 50px;
		.block-title {
			padding-bottom: 40px;
		}
		.icon {
			margin-bottom: 50px;
		}
	}
}

.single-success_history {
	h1.success-history-title {
		color: $activeColor;
		font-size: 30px;
	}
	h2.page-title {
		font-weight: 300;
		font-size: 24px;
	}
	.content-img {

		img {
			width: 152px;
			height: 152px;
			border-radius: 50%;
			display: block;
			margin: 0 auto;
		}
	}
	.block-plain_text {
		padding-bottom: 40px;
		.plain-text-wrap {
			padding-bottom: 0;
		}
	}
}

#footer {
	height: 120px;
	padding: 30px 0;
	background-color: #0f5481;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #fff;
	@include apply-to(max, 768) {
		height: auto;
	}

	a {
		color: #fff;
		text-decoration: none;
		padding-left: 40px;
		&:hover {
			text-decoration: underline;
		}
		&.social-icon {
			padding-left: 0;
			padding-right: 5px;
			.fa:before {
				//padding-left: 7px;
			}
			.fa-facebook:before {
				//padding-left: 10px;
			}
			.fa {
				padding-top: 7px;
				width: 32px;
				height: 32px;
				border: 1px solid;
				border-radius: 50%;
			}
		}
	}

	.social-networks-text {
		font-size: 14px;
		font-weight: 400;
	}

	.contacts {
		a {

		}
		.phone,
		.email {
			font-weight: 400;
			.fa {
				font-size: 16px;
			}
		}
		.email {
			.fa-at:before {
				padding-left: 5px;
			}
			.fa-at {
				padding-top: 4px;
				width: 25px;
				height: 25px;
				border: 1px solid;
				border-radius: 50%;
			}
		}
		.phone {
			.fa-phone:before {
				padding-left: 5px;
			}
			.fa-phone {
				padding-top: 5px;
			}
		}
	}

	.copyright {
		font-weight: 400;
		font-size: 14px;
	}
}

.page-events,
.block-show_events {
	.events-wrap {
		background: $lightGrayBg;
		.events-list-title {
			padding-top: 39px;
			//padding-bottom: 20px;
		}
		.no-events {
			text-align: center;
			padding: 27px 0;
		}
		.events-list {
			.event-item {
				height: 350px;
				background: #fff;
				margin-top: 60px;
				box-shadow: 0 0 30px rgba(25, 25, 25, 0.1);
				&:hover {
					box-shadow: 0 0 30px rgba(25, 25, 25, 0.3);
				}
			}
			.event-item {
				position: relative;
				.event-img {
					max-height: 182px;
					overflow-y: hidden;
					img {
						width: 100%;
						height: 100%;
					}
				}
				.event-content {

					.event-title {
						padding: 20px 30px;
						max-height: 80px;

						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
						a {
							color: $mainColor;
							text-decoration: none;
							&:hover {
								color: $activeColor;
							}
						}
					}
					.event-date {
						position: absolute;
						bottom: 0;
						left: 0;
						padding: 35px 30px;
					}
				}
			}
			.load-more-events-wrap {
				margin-top: 30px;
				margin-bottom: 80px;
				.load-more-events {
					&.no-events-btn {
						cursor: default;
					}
					.fa {
						display: none;
					}
					&.in-process {
						.fa {
							display: inline-block;
						}
					}

				}
			}
		}
	}
}
.page-events {
	.events-list {
		.event-item-wrap {
			&:nth-child(odd) {
				padding-right: 30px;
			}
			&:nth-child(even) {
				padding-left: 30px;
			}
		}
	}
}

// About company template
.page-template-company-template {
	.page-content {
		padding-top: 40px;
		height: auto;
		min-height: 100px;
		background: #f7f7f7;
		padding-bottom: 40px;
		h1.page-title {
			color: $activeColor;
		}
		.container {
			height: auto;
			min-height: 100px;
		}
	}
}


// Demo template
.page-template-demo-template {
	.page-content {
		padding-top: 55px;
		.content-text,
		.content-form {
			margin-top: 0;
			margin-bottom: 33px;
			font-weight: 400;
			line-height: 21px;
			padding-right: 40px;
			color: #4a4a4a;
		}
		.content-img {
			padding-right: 40px;
			img	 {
				//width: 100%;
			}
		}
		.page-title {
			font-size: 30px;
			line-height: 30px;
			margin-bottom: 30px;
		}
		.content-form {
			form {
				text-align: center;
			}
		}
	}
	.block-plain_text {
		box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1);
	}
}

//admin fixes
#wp-admin-bar-customize {
	display:none;
}

/*
* Pages corrections
*/
.postid-73 {
	.block-plain_text {
		padding: 0;
	}
	.plain-text-wrap {
		padding: 40px 0;
		&:first-child {
			background-color: white;
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

		}
	}
}

.postid-549 {
	.block-plain_text {
		.plain-text-wrap {
			background: $lightGrayBg;
			box-shadow: none;
			padding: 23px 0;
		}
		&:nth-of-type(2) {
			//box-shadow: 0 0 30px rgba(0,0,0,.1);
			padding-bottom: 20px;
			.plain-text-wrap {
				background: #fff;
				box-shadow: 0 0 30px rgba(0,0,0,.1);
			}
		}
	}
}
/**
* Post type News
*/
.single-news,
.single-events {
	background-color: #fff;
	.top-block {
		border-bottom: 2px solid #97c5e4;
		.breadcrumbs {
			color: $activeColor;
			font-size: 12px;
			font-weight: 400;
			padding-top: 18px;
			padding-bottom: 16px;
			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
			span {
				color: $mainColor;
			}
		}
		.nav {
			text-align: right;
			font-size: 32px;
			.nav-previous {
				display: inline-block;
			}
			.nav-next {
				display: inline-block;
				margin-left: 20px;
			}
			a {
				color: $mainColor;
				&:hover {
					color: $activeColor;
				}
			}
		}
	}
	.news-title,
	.events-title {
		margin-top: 15px;
	}
	.news-text,
	.events-text {
		margin-top: 24px;
		font-size: 14px;
		font-weight: 400;
	}

	.news-content {
		padding-bottom: 40px;
	}
	.share-buttons-wrap {
		padding-top: 13px;
		padding-bottom: 9px;
		.share-title {
			font-size: 14px;
			color: $activeColor;
			font-weight: 400;
			vertical-align: text-top;
			line-height: 18px;
			padding-right: 15px;
		}
		border-top: 2px solid #97c5e4;
		border-bottom: 2px solid #97c5e4;
		.fb-share-button {
			line-height: 14px;
		}
	}
}

.single-events {
	.event-gallery {
		background-color: $lightGrayBg;
		margin-top: 20px;
		margin-bottom: 40px;
		padding-top: 24px;
		padding-bottom: 10px;

		.owl-item {
			padding:0 10px;
			.gallery-image {
				max-width: 300px;
				max-height: 200px;
			}
		}
	}
	.events-content {
		padding-bottom: 40px;
	}
}

.post-type-archive-news,
.home .block-show_news {
	background-color: $lightGrayBg;
	.site-content {
		padding-top: 37px;
	}
	.news-archive-title {
		border-bottom: 2px solid #97c5e4;
		padding-bottom: 21px;
		margin-bottom: 6px;
		h1 {
			color: $activeColor;
		}
	}

	.news-wrap {
		padding-bottom: 90px;
		.btn {
			background-color: $buttonColor;
			box-shadow: 0 2px 0 #945b00;
			margin: 0 auto;
			display: block;
			margin-top: 40px;
		}
	}

	.news-item-wrap {
		transition: 0.5s;
		.news-item img,
		a {
			transition: 0.3s;
		}
		&:hover {
			background: #fff;
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
			//cursor: pointer;
		}
	}
	.news-item {
		padding: 20px 0;
		.news-content-data {
		}
		.has-thumbnail {
			.news-content-data {
				height: 160px;
				overflow: hidden;
				padding-left: 25px;
			}
			.news-date {
				padding-left: 25px;
				padding-top: 25px;
			}
		}
		.news-title {
			line-height: 24px;
			a {
				color: $mainColor;
				font-size: 18px;
				font-weight: 400;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
					color: $activeColor;
				}
			}
		}
		.news-excerpt {
			font-size: 14px;
			padding-top: 8px;
			line-height: 24px;
		}
		.news-image {
			padding-top: 7px;
			.news-image-bg {
				height: 150px;
				background: no-repeat center center;
				background-size: cover;
				img {
					width: 100%;
					display: none;
				}
			}
		}
		.news-date {
			//padding-left: 25px;
			//padding-top: 25px;
			a {
				font-size: 14px;
				font-weight: 400;
				text-decoration: none;
			}
		}
	}

	.load-more-btn {
		margin-top: 40px;
		margin-bottom: 90px;
	}
}

/**
* Custom styles for several posts
*/

.home {
	.block-text_bg_img {
		//height: 600px;
		h1 {
			color: #fff;
		}
		img {
			display: block;
			margin: 40px auto;
		}
	}

	.block-show_news {
		padding-bottom: 40px;
		background: #fff;
		.news-wrap {
			padding-bottom: 40px;
		}
		.news-archive-title {
			border: none;
			margin-bottom: 0;
			padding-top: 20px;
			h1 {
				color: $mainColor;
				text-align: left;
			}
		}
	}
	.block-clients {
		padding-bottom: 20px;
	}
}


// Сервисное обслуживание и поддержка
.postid-124 {
	.block-plain_text:last-of-type {
		.plain-text-wrap {
			background-color: $lightGrayBg;
			box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1);
			@include apply-to(max, 767) {
				box-shadow: none;
			}
		}
	}
}

// Обучение пользователей
.postid-127 {
	.site-content {
		background-color: $lightGrayBg;
	}
	.block-plain_text {
		font-size: 24px;
		.plain-text-wrap {
			box-shadow: none;
			background: none;
		}
	}
}

// Финансы и страхование
.postid-137 {
	.block-plain_text {
		background: #fff;
	}
}


// FMCG
.postid-140,
// Профессиональные услуги
.postid-143 {
	.plain-text-wrap:first-child {
		background: #fff;
	}
}

// Контакты
.page-id-246 {
	.page-content {
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.page-title {
		color: $activeColor;
	}
}

//Клиенты
.page-id-259 {
	ul.ui-widget-content {
		border: none !important;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
		margin-top: 1px;
	}
}

.postid-605,
.postid-611 {
	&.single-uslugi .plain-text-wrap:nth-child(odd) {
		background: $lightGrayBg;
		box-shadow: none;
	}
	&.single-uslugi .plain-text-wrap {
		padding-bottom: 0;
	}
	&.single-uslugi .block-plain_text {
		padding-bottom: 45px;
	}
}

.postid-608 {
	&.single-uslugi .plain-text-wrap:nth-child(odd) {
		background: $lightGrayBg;
		box-shadow: none;
	}
}

@import 'media';
//.client-item-wrap {
//	animation-fill-mode: forwards;
//}
//.disabled {
//	animation: disabled 2s;
//	animation-fill-mode: forwards;
//}

//@keyframes disabled {
//	0% {
//		transform:translate(0);
//		opacity: 1;
//	}
//	90% {
//		transform: scale(0);
//		flex-basis: 0 !important;
//	}
//	100% {
//		transform:translate(9999px) translateZ(0);
//		opacity: 0;
//	}
//}